@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #747b95;
}

.background {
  background: url(/assets/home/bg-pattern-header.svg),
    url(/assets/home/bg-pattern-footer.svg),
    linear-gradient(
      to bottom,
      #fafafa 0%,
      #fafafa 50%,
      #25293a 50%,
      #25293a 100%
    );
  background-position: top -175px center, bottom, bottom;
  background-size: 458px 458px, 980px, 100% 2500px;
  background-repeat: no-repeat;
}

.container {
  margin: 0 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#grid-signup {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 64px;
}

h1 {
  color: #333950;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

nav {
  margin: 48px 0 80px 0;
  display: flex;
  justify-content: center;
}

#illustration {
  width: 171px;
  height: 192px;
  margin-bottom: 36px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 327px;
  height: 378px;
  margin: 0 auto 100px;
}

#header-section-signup {
  display: grid;
  grid-gap: 16px;
}

.button-1 {
  white-space: nowrap;
  background-color: #5175ff;
  border-radius: 28px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: none;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  width: 171px;
  height: 56px;
  margin: 0 auto;
}

.button-1:hover {
  background-color: #829cff;
}

.button-2 {
  white-space: nowrap;
  background-color: rgba(81, 117, 255, 0.15);
  mix-blend-mode: normal;
  border-radius: 28px;
  color: rgba(81, 117, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: none;
  width: 171px;
  height: 56px;
}

.button-2:hover {
  background-color: rgba(81, 117, 255, 0.25);
}

.button-3 {
  white-space: nowrap;
  background-color: white;
  mix-blend-mode: normal;
  border-radius: 28px;
  color: rgba(81, 117, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: none;
  width: 171px;
  height: 56px;
}

.button-3:hover {
  color: #829cff;
}

.card-heading {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 40px 0 40px 0;
}

.pricing-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1588px;
}

.card-price {
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 508px;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  margin: auto;
}

.blue-card {
  background-image: url(/assets/home/bg-pattern-pricing.svg);
  background-position: 50% 102%;
  background-repeat: no-repeat;
  background-color: #5175ff;
  color: white;
}

.white-card {
  color: #333950;
  background-color: white;
}

.card-paragraph {
  margin: 56px 0 32px 0;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-paragraph-white {
  color: #747b95;
}

.comingsoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px auto;
  color: white;
  height: 254px;
  width: 328px;
}

.comingsoon-date {
  color: #5175ff;
}

.date-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;
}

.date-section-card {
  background-color: #333950;
  height: 92px;
  width: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23px 0 12px 0;
  border-radius: 4px;
}

.date-number {
  font-weight: bold;
  font-size: 32px;
}

.date-unit {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
