@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*----------------------------
	Variables
----------------------------*/
/* Colors */

/** Primary **/
/*** Text ***/
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
/*** Gradient ***/
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);
/** Neutral **/
/*** Text ***/
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
/*** Dividers ***/
$lightGrayishBlue: hsl(240, 5%, 91%);

/* Typography */
/** Body Copy **/
$fontSize: 12px;
/** Font **/
$fontFamily: 'Kumbh Sans', sans-serif;

/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------
	Accessibility
----------------------------*/

.a11y-hidden {
  position: absolute;
  top: -1000em;
  left: -1000em;
}

/*----------------------------
	Backgrounds
----------------------------*/
.background {
  &-home {
    background: linear-gradient(
      to bottom,
      #fafafa 0%,
      #fafafa 50%,
      #25293a 50%,
      #25293a 100%
    );
    @media (min-width: 1080px) {
      background: linear-gradient(
        to bottom,
        #fafafa 0%,
        #fafafa 58%,
        #25293a 58%,
        #25293a 100%
      );
    }
    &-header {
      // Mobile
      z-index: -100;
      position: absolute;
      top: -125px;
      left: 0px;
      width: 100%;
      // Tablet
      @media (min-width: 768px) {
        justify-content: start;
        margin: 6rem 0 3rem 1rem;
        top: -327px;
        left: 358px;
      }
      @media (min-width: 1080px) {
        top: -597px;
        left: 698px;
      }
    }
    &-footer {
      // Mobile
      z-index: -100;
      position: absolute;
    }
    // @media (min-width: 768px) {
    //   width: 10%;
    // }

    &-image__header {
      background-image: url(/assets/images/home/bg-pattern-header.svg);
      &:before {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        background: url(/assets/images/home/bg-pattern-header.svg) 0 0 repeat;
        transform: rotate(30deg);
      }
    }
    &-image__footer {
      background-image: url(/assets/images/home/bg-pattern-footer.svg);
    }
  }
  &-signup {
    background: url(/assets/images/home/bg-pattern-header.svg),
      url(/assets/images/home/bg-pattern-footer.svg),
      linear-gradient(
        to bottom,
        #fafafa 0%,
        #fafafa 68%,
        #25293a 68%,
        #25293a 100%
      );
    background-size: 125%, 100%;
    background-repeat: no-repeat;
    background-position-x: -50px;
  }
}

/*----------------------------
	Layout
----------------------------*/

.container {
  margin: 0 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

nav {
  margin: 48px 0 80px 0;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: start;
    margin: 6rem 0 6rem 1rem;
  }
  @media (min-width: 1080px) {
    margin: 6rem 0 10rem 5rem;
  }
}

footer {
  @media (min-width: 768px) {
    margin: auto 0 6rem 0;
  }
}

#grid-signup {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 64px;
}

.header {
  @media (min-width: 768px) {
    &-grid {
      display: grid;
      grid-template-columns: 1.5fr 1.3fr;
      grid-auto-flow: dense;
      margin: 0 2%;
      justify-content: space-around;
      grid-gap: 3rem;
      &__end {
        justify-self: end;
        grid-column: 2;
      }
      @media (min-width: 1080px) {
        margin: 0 3rem;
      }
    }
  }
  &-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 100px;
    @media (min-width: 768px) {
      text-align: start;
    }
    @media (min-width: 1080px) {
      width: 90%;
    }
  }
  &-paragraph {
    margin: 1rem auto;
    color: #747b95;
    @media (min-width: 1080px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

#header-section-signup {
  display: grid;
  grid-gap: 16px;
  @media (min-width: 768px) {
    width: 80%;
    margin: auto;
  }
  h1 {
    text-align: center;
  }
}

.comingsoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px auto;
  color: white;
  height: 254px;
  width: 328px;
  &-date {
    color: #5175ff;
  }
}

.pricing {
  display: flex;
  justify-content: center;
  &-cards {
    display: grid;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    grid-gap: 2rem;
    @media (min-width: 1080px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
    }
  }
}

.date {
  &-section {
    display: flex;
    justify-content: space-between;
    margin: 0 0 14px 0;
    @media (min-width: 768px) {
      justify-content: center;
      margin: 2rem 0;
    }
    &-card {
      background-color: #333950;
      height: 92px;
      width: 72px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 23px 0 12px 0;
      border-radius: 4px;
      &-signup {
        background-color: rgba(81, 117, 255, 0.1);
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px 0 12px;
        border-radius: 4px;
        @media (min-width: 768px) {
          height: 8rem;
          width: 6rem;
          margin: 0 1rem;
        }
      }
    }
  }
  &-grid {
    display: grid;
    grid-gap: 18px;
    @media (min-width: 768px) {
      width: 200%;
      margin: 0 -10rem;
    }
    &__signup {
      @media (min-width) {
        width: 100%;
        margin: auto;
      }
    }
  }
}

.form-style {
  display: grid;
  grid-gap: 15px;
  background-color: white;
  padding: 10%;
  border-radius: 13px;
  margin-bottom: 25%;
  &__signup {
    display: grid;
    grid-gap: 15px;
    background-color: white;
    padding: 10%;
    border-radius: 13px;
    margin-bottom: 25%;
    @media (min-width: 768px) {
      width: 80%;
      margin: auto;
    }
  }
}

#form-signup {
  @media (min-width: 768px) {
    margin: 0 3rem 10rem;
  }
}

/*----------------------------
	Typography
----------------------------*/

body {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 28px;
}

h1 {
  color: #333950;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
  @media (min-width: 1080px) {
    font-size: 64px;
    line-height: 74px;
  }
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.card {
  &-price {
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    @media (min-width: 768px) {
      justify-self: start;
    }
    @media (min-width: 1080px) {
      justify-self: auto;
    }
  }
}

.date {
  &-number {
    font-weight: bold;
    font-size: 32px;
    color: white;
    @media (min-width: 768px) {
      font-size: 56px;
      margin: auto;
    }
    &-blue {
      font-size: 32px;
      font-weight: bold;
      color: $softBlue;
      &__signup {
        font-size: 32px;
        font-weight: bold;
        color: $softBlue;
        @media (min-width: 768px) {
          font-size: 56px;
          font-weight: bold;
          color: $softBlue;
          margin: auto;
        }
      }
    }
  }
  &-unit {
    font-size: $fontSize;
    color: $lightGrayishBlue;
    &-blue {
      color: $darkGrayishBlue;
    }
  }
}

/*----------------------------
	Images
----------------------------*/

#illustration {
  width: 171px;
  height: 192px;
  margin: 0 auto 32px;
  @media (min-width: 768px) {
    width: 100%;
    height: 314px;
  }
  @media (min-width: 1080px) {
    width: 100%;
    height: 31rem;
  }
}

/*----------------------------
	Buttons
----------------------------*/

.button {
  &-1 {
    white-space: nowrap;
    background-color: #5175ff;
    border-radius: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: none;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    width: 171px;
    height: 56px;
    margin: 1.5rem auto;
    transition: background-color 0.6s ease;
    &-1:hover {
      background-color: #829cff;
      cursor: pointer;
    }
    @media (min-width: 768px) {
      margin: 1.5rem 0;
    }
    &__signup {
      white-space: nowrap;
      background-color: #5175ff;
      border-radius: 28px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-style: none;
      box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
      width: 171px;
      height: 56px;
      margin: 1.5rem auto;
      transition: background-color 0.6s ease;
      @media (min-width: 768px) {
        width: 100%;
      }
      &:hover {
        background-color: #829cff;
        cursor: pointer;
      }
    }
  }

  &-2 {
    white-space: nowrap;
    background-color: rgba(81, 117, 255, 0.15);
    mix-blend-mode: normal;
    border-radius: 28px;
    color: rgb(81, 117, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: none;
    width: 171px;
    height: 56px;
    transition: background-color 0.6s ease;
  }
  &-2:hover {
    background-color: rgba(81, 117, 255, 0.25);
    cursor: pointer;
  }
  &-3 {
    white-space: nowrap;
    background-color: white;
    mix-blend-mode: normal;
    border-radius: 28px;
    color: rgb(81, 117, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: none;
    width: 171px;
    height: 56px;
    transition: background-color 0.6s ease;
  }
  &-3:hover {
    color: #829cff;
    cursor: pointer;
  }
}

/*----------------------------
	Cards
----------------------------*/

.card {
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  @media (min-width: 768px) {
    height: 100%;
    width: 80%;
  }
  &:hover {
    -webkit-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &-heading {
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    margin: 40px 0 40px 0;
    @media (min-width: 768px) {
      grid-row-start: 2;
      grid-column-start: 2;
      margin: 1rem 0;
    }
    &__price {
      grid-column-start: 2;
      grid-row-start: 3;
      align-self: center;
      display: grid;
      margin-bottom: 2rem;
    }
    &__button {
      grid-column-start: 2;
      grid-row-start: 5;
      margin-bottom: 2rem;
      @media (min-width: 768px) {
        align-self: end;
        margin-bottom: 0;
      }
    }
  }
  &-blue {
    background-image: url(/assets/images/home/bg-pattern-pricing.svg);
    background-position: 50% 102%;
    background-repeat: no-repeat;
    background-color: #5175ff;
    color: white;
    @media (min-width: 768px) {
      width: auto;
      justify-items: start;
      display: grid;
      grid-template-columns: 50px 1fr 1fr 50px;
      grid-template-rows: 50px 1fr 50px;
      height: 22rem;
      width: 45rem;
    }
    @media (min-width: 1080px) {
      height: 508px;
      width: 350px;
      justify-items: center;
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: 50px 1fr 2fr 2fr 1fr 50px;
    }
  }
  &-white {
    color: #333950;
    background-color: white;
    @media (min-width: 768px) {
      width: auto;
      justify-items: start;
      display: grid;
      grid-template-columns: 50px 1fr 1fr 50px;
      grid-template-rows: 50px 1fr 50px;
      height: 22rem;
      width: 45rem;
    }
    @media (min-width: 1080px) {
      height: 508px;
      width: 350px;
      justify-items: center;
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: 50px 1fr 2fr 2fr 1fr 50px;
    }
  }
  &-paragraph {
    margin: 2rem 0 3rem 0;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) {
      grid-column-start: 3;
      grid-row-start: 2;
      align-self: center;
      justify-self: center;
      margin: auto;
    }
    @media (min-width: 1080px) {
      grid-column-start: 2;
      grid-row-start: 4;
    }
    &-white {
      color: #747b95;
    }
  }
}

/*----------------------------
	Forms
----------------------------*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

// Need to figure out those bits of css + , etc
input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  cursor: default;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 1rem;
  &:focus {
    // opacity: 40%;
    color: #5175ff;
  }
  &:hover {
    color: #5175ff;
    cursor: auto;
  }
}

.custom {
  &-select {
    position: relative;
    display: flex;
    flex-direction: column;
    &-wrapper {
      position: relative;
      user-select: none;
      width: 100%;
    }
    &__trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      cursor: pointer;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #dadada;
      padding: 1rem 0 1rem 1rem;
      &:hover {
        color: #5175ff;
      }
    }
  }
  &-span {
    font-weight: bold;
    // color: #333950;
    &:hover,
    &__trigger {
      color: #5175ff;
    }
    &__opacity {
      opacity: 40%;
      // color: #333950;
    }
  }
  &-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: #fff;
    box-shadow: 0px 25px 25px -5px rgba(63, 91, 194, 0.247159);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  &-option {
    position: relative;
    display: flex;
    justify-content: start;
    padding: 0 22px 0 22px;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    color: #333950;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: 1px solid #dadada;
    &:hover {
      cursor: pointer;
      background-color: #5175ff;
      color: white;
    }
    &.selected {
      display: none;
    }
  }
}

// Unsure how to place this in the above scss code if anyone can help.
.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/*----------------------------
	Arrow
----------------------------*/

.arrow {
  position: relative;
  height: 5.5px;
  width: 11px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0.15rem;
    height: 200%;
    transition: all 0.5s;
  }
  &:before {
    left: -20px;
    transform: rotate(-45deg);
    background-color: #5175ff;
  }
  &:after {
    left: -14px;
    transform: rotate(45deg);
    background-color: #5175ff;
  }
}

.open {
  .arrow:before {
    left: -14px;
    transform: rotate(-45deg);
  }
  .arrow:after {
    left: -20px;
    transform: rotate(45deg);
  }
}
